.buttons {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
}
.enter-button {
    width: 200px;
    margin: auto;
    margin-top: 2em;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    border: solid $yellow 2px;
    font-size: 1.1em;
    
    

    a {
        text-decoration: none;
        color: inherit;

    }
}



