body.index { 

    main {
        width: 100vw;
        height: 100vh;
        overflow: hidden !important;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 0;
        padding: 0;
    }
}