#start-button {
    width: 100vw;
    height: 100vh;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    background-image: url('../img/play.png');
    background-repeat: no-repeat;
    background-position: center center;
    
}