#secondary-nav {
    display: block;
    font-style: 1em;
    font-family: $font-soren;
    margin-top: 3.5em;

    li {
        line-height: 1.5em;
        font-size: 1.2em;
        list-style: square;
        color: $blue;
        list-style-position: inside;
        margin: 0;
        a {
            color: $blue;
            padding-left: .5em;

            &:hover {
                color: $red;
            }
        }
    }
}