@font-face {
    font-family: 'West England';
    src: url(../fonts/west_england.woff);
  }


@font-face {
    font-family:'Constantia';
    src: url('../fonts/Constantia.eot');
	  src: url('../fonts/Constantia.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Constantia.woff2') format('woff2'),
		url('../fonts/Constantia.woff') format('woff'),
		url('../fonts/Constantia.svg#Constantia') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-203A;
}