blockquote {
    margin: 50px auto;
    color: $purple;
    max-width: 600px;

    p:first-child {
        display: flex;
        width: fit-content;
        margin: auto;
        font-weight: bold;
        

        &::before, &::after {
            display: block;
            font-size: 3em;
            
            position: relative;
        }
        
        &::before {
            content: "“";
            top: -9px;
            padding-right: 20px;
        }

        &::after {
            content: "„";
            top: -34px;
            padding-left: 20px;
            
        }
    }


    p:last-child {
        margin-top: 30px;
        text-align: right;

        .title {
            font-style: italic;
        }
    }
}