p {
    line-height: 1.5em;
    margin: 1em 0;
    text-align: justify;
    font-family: $font-soren;
    color: $yellow;

    &.credits {
        font-size: 1.5em;
        margin: 2em 0;
        color: $turquoise;
        line-height: 30px;
    }

    &.message {
        color: $purple;
        font-weight: bold;
    }
}

.intro-soren p {
    color: $red;
}

.presentation-soren p {
    color: $blue;
}