p {
    line-height: 3rem;
    margin: 2rem 0;
    text-align: justify;
    font-family: $font-soren;
    color: $yellow;

}

.artwork-intro p {
    color: $red;

    &:hover {
        color: $yellow;
    }
}

.artist-bio p {
    color: $blue;

    &:hover {
        color: $yellow;
    }
}