

main {
    padding: 1.5rem;

    @media (min-width: 900px) {
        width: 80rem;
        margin: auto;
        padding-top: 0;
    }

    h1 {
        margin-bottom: 8rem;
    }
  
}


body {
    &.index main {
        padding-bottom: 8rem;
    }
     &.info {
        background-color: black;
        main {
            margin-top: 10rem;
        }
        
    }
}