.logo {
    width: 15rem;
    position: relative;

    svg {
        width: 15rem;
        height: 7rem;
    }

    path {
        fill: $yellow;
    }

    &:hover {
        path {
            fill: $red;
        }
    }
}