.afterworld .device header {
    // Heading on mobile - all questions page
    // Lola & Floriane Questions
    h4 {
        color: black;
        text-align: center;
        padding: .7rem;
        width: 28.8rem;
        margin: 0;
        font-size: 1.6rem;
        font-weight: bold;
    }
}