section.artist-bio {
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        
    }
    
    
}

section.work-section  {
    margin-bottom: 4rem;
    @include tablet {
        width: calc(50% - (#{$spacing-double} + .5rem) / 2);
        flex: 1 1 27.4rem;
        margin: 1rem;
        margin-bottom: 4rem;
        
        a {
            height: 100%;
            display: flex;
            flex-direction: column;
            
        }
        
    }
    
}