p {
    line-height: 3rem;
    margin: 2.4rem 0;
    text-align: justify;

    &.credits {
        font-size: 2.4rem;
        margin: 4.8rem 0;
        color: $turquoise;
        line-height: 3rem;
    }

    &.message {
        color: $purple;
        font-weight: bold;
    }
}