

main {
    padding: 2rem;

    @media (min-width: 900px) {
        width: 80rem;
        margin: auto;
        padding-top: 0;
    }

    h1 {
        margin-bottom: 9.6rem;
        
    }  
    
    h2 {
        line-height: 5rem;
        margin-bottom: 5rem;
    }
}


body {
    &.index main, &.credits main {
        padding-bottom: 8rem;
    }

    &.info {
        main {
            margin-top: 6rem;
            @include desktop {
               margin-top: 12rem; 
            }
            

            p {
                line-height: 3.5rem;
            }
        }
        
    }


}