body.daydream {
    background-image: url('../img/shadow.gif');
    background-size: 130%;
    background-size: cover;
    background-attachment: fixed;

    h2 {
        margin-bottom: 1rem;
    }

    h3 {
        margin-top: 1rem;
        margin-bottom: 3rem;
        font-size: 1.8rem;
    }
}