nav#touch-navigation {
    display: block;
    position: absolute;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.602);
    border-radius: 3px;
    border: 1px grey solid;
    border-left: none;
    left: -356px;
    bottom: 10px;
    transition: ease .5s left;
    height: 77px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;

    &:hover {
        left: -345px;
        transition: ease .5s left;
    }

    &.open {
        left: -13px;
        

        &:hover {
            left: -13px;
        }
        
    }

    ul {
        display: flex;
        max-width: 450px;
        margin: 10px;

        
    

        li {
            list-style-type: none;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
        }
    }
}