form {
    background-color: white;
    padding: 0px;
    display: flex;
    padding-left: 10px;
    input {
        width: calc(100% - 50px);
        background-color: transparent;
        font-family: $font-body;
        color: $blue;
        height: 40px;
        

        &::placeholder {
            @extend input;
            
        }
        
    }
}