.skip-to-content-link {
    a:focus, a:focus-visible {
        background-color: $background;
        border: .1rem solid $color;
        outline: solid $color .2rem;
        outline-offset: .4rem;
        color: $color;
    }
}