* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-body;
    margin: 0;
    scroll-behavior: smooth;
    background-color: #393939;
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 200%;
    position: relative;

    &.part2 {
        background-image: url('../img/background2.jpg');
        background-size: 130%;
    }

    &.part3 {
        background-image: url('../img/shadow.gif');
        background-size: cover;
        background-attachment: fixed;
    }

    &.part4 {
        background-image: none;
        background-color: wheat;

        h1, h2, h3, h4 {
            font-family: 'Pangolin';
            color: black;
        }

        h1 {
            font-size: 3em;
        }

        h2 {
            margin-bottom: .5em;
        }

        h3 {
            margin-top: 0;
        }

        p > a {
            color: royalblue;
            font-family: 'Pangolin';
        }
    }

    &.part5 {
        background-image: url('../img/afterworld/mobiletabletop.png');
        background-size: cover;

        @include desktop {
            background-image: url('../img/afterworld/computertabletop.png');
            height: 100vh;
        }

        h2 {
            margin-bottom: .5em;
            font-size: 2em;
            margin-top: .7em;
            color: $greymessenger;
        }

        h3 {
            margin-top: .5em;
            color: $greymessenger;
        }

        #waaw-header.open {
            background-color: $yellow;
            border: dashed 2px $blue;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-body;
    color: white;

    .title {
        width: 200px;
    }

}

h3 {
    margin-top: 2em;
}





li {
    list-style-type: none;
    
}

input {
    border: none;
    outline: none
}

button {
    border: none;
    outline: none;
    background: transparent;
}

hr {
    border: 2px dashed $yellow;
    border-bottom: none;
}