#alert {
    position: absolute;
    text-align: center;
    color: transparent;
    font-weight: bold;
    padding-left: 16px;
    bottom: 64px;
    transition: 1s ease color;
    cursor: none;
    pointer-events: none;


    &.active {
        display: block;
        color: $green;
        transition: 1s ease color;
        cursor: pointer;
        pointer-events: visible;
    }
}