#noscript p {
    width: 100vw;
    height: 100vh;
    background: blue;
    color: yellow;
    text-align: center;
    padding-top: 7em;
    top: 0;
    font-size: 2em;
    padding: 7em 15%;
    position: fixed;
    top: -32px;
    z-index: 99;
}