nav#touch-navigation {
    display: block;
    position: absolute;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.602);
    border-radius: .3rem;
    border: .1rem grey solid;
    border-left: none;
    left: -35.6rem;
    bottom: 1rem;
    transition: ease .5s left;
    height: 7.7rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding-bottom: 0;
    overflow-y: hidden;

    &:hover {
        left: -34.5rem;
        transition: ease .5s left;
    }

    &.open {
        left: -1.3rem;
        

        &:hover {
            left: -1.3rem;
        }
        
    }

    ul {
        display: flex;
        max-width: 45rem;
        margin: 1rem;

        
    

        li {
            list-style-type: none;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
        }
    }
}