// Colors
$wheat: wheat;
$beige: #d9a76a;
$darkGrey: #393939;
$blue: #aeb3dd;
$bluemessenger: #009bff;
$greymessenger: #f1f1f1;


$color: $blue;
$muted-color: $darkGrey;
$background-color: $darkGrey;

$outline: $blue 3px solid;



// Fonts
$font-pangolin: 'Pangolin', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-raleway: 'Raleway', sans-serif;
$font-body: 'Roboto', serif;
$font-title: 'Raleway', sans-serif;

// Sizes
$line-height: 25px;

// Animation
$transition-duration: 1s;
$transition-effect: ease;


