body {
  font-family: "Roboto", sans-serif;
  background-image: url("../img/waaw-offline-background-651.jpg");
  background-color: #4e64a6;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: calc(50vh - 10rem);
  padding-bottom: 50vh;
}
@media (max-width: 355px) {
  body {
    background-image: url("../img/waaw-offline-background-355.jpg");
  }
}
@media (min-width: 651px) {
  body {
    background-image: url("../img/waaw-offline-background-1025.jpg");
  }
}
@media (min-width: 1025px) {
  body {
    background-image: url("../img/waaw-offline-background-1600.jpg");
    padding-top: 0;
    padding-bottom: calc(100vh - 18.1rem);
  }
}
@media (min-width: 1600px) {
  body {
    background-image: url("../img/waaw-offline-background-large.jpg");
  }
}

main, footer {
  background-color: white;
  border: 0.4rem solid #4e64a6;
  border-bottom: none;
}

footer {
  padding-top: 4rem !important;
  border-bottom: 0.4rem solid #4e64a6;
  border-top: none;
}

a {
  color: rgb(115, 73, 108);
  text-decoration: underline;
}
a:hover {
  color: white;
  background-color: rgb(115, 73, 108);
  text-decoration: none;
}

a:focus-visible, button:focus-visible {
  outline: 0.4rem solid #4e64a6;
  outline-offset: 0.7rem;
}

p {
  font-family: "Roboto", sans-serif;
  color: black;
  text-align: left;
}

h2, h3 {
  font-family: "Raleway", sans-serif;
  color: #4e64a6;
}

*::selection {
  background-color: #4e64a6;
  color: white;
}

hr {
  border: 0.2rem solid #4e64a6;
}

body header#waaw-header.open {
  min-width: 50%;
}
@media (min-width: 651px) {
  body header#waaw-header.open {
    border-left: 0.4rem solid #4e64a6;
  }
}

button#buttonMenu {
  color: #4e64a6;
}
button#buttonMenu #info-icon path {
  fill: #4e64a6;
}
button#buttonMenu.toggled #info-icon path {
  fill: rgb(115, 73, 108);
}
button#buttonMenu.toggled .firstW, button#buttonMenu.toggled .rotatedW, button#buttonMenu.toggled .lastW {
  color: rgb(115, 73, 108);
}

#waaw-header nav li {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
#waaw-header nav li .menu-title {
  color: white;
  background-color: #4e64a6;
}
#waaw-header nav li a {
  text-decoration: none;
}
#waaw-header nav li a:focus-visible {
  outline: none;
  color: white;
  background-color: rgb(115, 73, 108);
  text-decoration: none;
}
#waaw-header nav li a.active {
  color: #4e64a6;
}
#waaw-header nav li a.active:hover {
  color: white;
  background-color: #4e64a6;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.63);
  opacity: 0.75;
}

::-webkit-scrollbar-thumb {
  background-color: #4e64a6;
  border: 0.4rem solid rgba(0, 0, 0, 0.63);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4e64a6;
}

.logo {
  padding-top: 3rem;
}
.logo a path {
  fill: #4e64a6;
}
.logo a:hover svg {
  background-color: rgb(115, 73, 108);
}
.logo a:hover svg path {
  fill: white;
}

.artist-name {
  font-size: 2.2rem;
}

.work-section > a {
  text-decoration: none;
}
.work-section > a:hover, .work-section > a:focus-visible {
  background-color: white;
}
.work-section > a:hover .online-work-button, .work-section > a:focus-visible .online-work-button {
  background-color: rgb(115, 73, 108);
  color: white;
}
.work-section > a:hover .online-work-button::after, .work-section > a:focus-visible .online-work-button::after {
  left: 0;
  width: 100%;
  transition: 1s ease width, 1s ease left;
}

.online-work-button {
  margin: auto;
  margin-bottom: 0;
  display: block;
  max-width: 25rem;
  position: relative;
  font-size: 2.2rem;
  color: rgb(115, 73, 108);
  line-height: calc(1.7rem + 0.75rem);
  text-align: center;
  text-decoration: none;
}
.online-work-button .online-work-tag {
  display: block;
  margin-bottom: 0.25rem;
  background-color: white;
  color: rgb(115, 73, 108);
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}
.online-work-button::after {
  content: " ";
  display: block;
  height: 0.3rem;
  position: relative;
  bottom: -0.75rem;
  left: 50%;
  width: 0;
  background-color: rgb(115, 73, 108);
  transition: 1s ease width, 1s ease left;
}

@media (min-width: 651px) {
  section.artist-bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }
}

section.work-section {
  margin-bottom: 4rem;
}
@media (min-width: 651px) {
  section.work-section {
    width: calc(50% - (2rem + .5rem) / 2);
    flex: 1 1 27.4rem;
    margin: 1rem;
    margin-bottom: 4rem;
  }
  section.work-section a {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

#newsletter > div fieldset strong {
  font-family: "Raleway", sans-serif !important;
}
#newsletter > div fieldset:last-child div:hover {
  background-color: rgb(115, 73, 108) !important;
}
#newsletter > div fieldset:last-child div::after {
  content: " ";
  display: block;
  height: 0.3rem;
  position: relative;
  bottom: -0.75rem;
  left: 50%;
  width: 0;
  background-color: rgb(115, 73, 108);
  transition: 1s ease width, 1s ease left;
}
#newsletter > div fieldset:last-child div:hover::after {
  left: 0;
  width: 100%;
  transition: 1s ease width, 1s ease left;
}

.newsletter-pages h2 {
  font-size: 3rem;
}/*# sourceMappingURL=main.css.map */