.buttons {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
}
.enter-button {
    width: 200px;
    margin: auto;
    margin-top: 2em;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    border: dashed $green 2px;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-duration: 2.5s;
    

    a {
        text-decoration: none;
        color: inherit;

    }
}



