.afterworld {
    h2 {
        margin-bottom: 1.5rem;
        font-size: 3.2rem;
        margin-top: 2.2rem;
        color: $greymessenger;
    }

    h3 {
        color: $greymessenger;
        font-size: 1.85rem;
        margin-top: 1.5rem;
    }
}