:root {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-soren;
    margin: 0;
    scroll-behavior: smooth;
    font-size: 2rem;

    &.index {
        background-image: url('../img/726/main_screen_01_726.png');
        background-position: top left;
        background-size: auto;
        background-color: #fff200;

        @media (min-width: 727px) {background-image: url('../img/968/main_screen_01_968.png');}
        @media (min-width: 969px) {background-image: url('../img/1210/main_screen_01_1210.png');}
        @media (min-width: 1210px) {background-image: url('../img/1452/main_screen_01_1452.png');}
        @media (min-width: 1453px) {background-image: url('../img/1815/main_screen_01_1815.png');}
        @media (min-width: 1816px) {background-image: url('../img/2420/main_screen_01_2420.png');}
        @media (min-width: 2421px) {background-image: url('../img/3025/main_screen_01_3025.png');}
        

        main {
            width: 100vw;
            height: 100vh;
            overflow: hidden !important;
            position: absolute;
            top: 0;
            left: 0;
            margin-top: 0;
            padding: 0;
        }
    }

    &.info {
        background-color: black;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-title;
}




li {
    list-style-type: none;
    
}

input {
    border: none;
    outline: none
}

button {
    border: none;
    outline: none;
    background: transparent;
}

hr {
    border: .2rem solid $yellow;
    border-bottom: none;
    margin: 6rem 0;
}