// Colors
$purple: #B000FF;
$blue: #0000ff;
$turquoise: #00FFF7;
$green: #0CE818;
$yellow: #fff200;
$red: #ff0000;

$color: $purple;
$muted-color: $green;
$background-color: $turquoise;



// Fonts
$font-body: 'Times New Roman', serif;
$font-title: 'Raleway', sans-serif;
$font-soren: 'West England', monospace;

// Sizes
$line-height: 25px;

// Animation
$transition-duration: 1s;
$transition-effect: ease;
