:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  font-family: "Open Sans Condensed", sans-serif;
  margin: 0;
  scroll-behavior: smooth;
  font-size: 1.8rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

h1 {
  margin: 2rem 0;
}

hr {
  margin: 3.6rem 0;
}

li {
  list-style-type: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
}

a {
  color: white;
  text-decoration: underline;
}

a:hover {
  color: white;
  text-decoration: underline;
}

.logoletters {
  position: relative;
  display: inline-block;
}

.logoletters.firstW {
  letter-spacing: -.1rem;
}

.logoletters.rotatedW {
  transform: rotate(180deg);
  letter-spacing: -.2rem;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  padding: 2.5rem;
  font-family: "Raleway", sans-serif;
  text-align: right;
}

header.open {
  background-color: black;
  height: 100vh;
}

@media (min-width: 900px) {
  header.open {
    background-color: rgba(0, 0, 0, 0.719);
  }
}

button#buttonMenu {
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  color: #b4b4b4;
  font-size: 2.2rem;
  font-weight: bolder;
  padding: .4rem 0 .4rem;
  margin-bottom: 0;
  position: relative;
  top: -1.1rem;
  transition: 1s ease color;
}

button#buttonMenu.toggled {
  left: 0;
  color: white;
  transition: 1s ease color;
}

button#buttonMenu #info-icon {
  width: 2.4rem;
  position: relative;
  top: .3rem;
  left: 4.4rem;
}

button#buttonMenu #info-icon path {
  fill: #b4b4b4;
  transition: 1s ease color;
}

button#buttonMenu.toggled #info-icon {
  left: 0;
  transition: ease 1s left;
}

button#buttonMenu.toggled #info-icon path {
  fill: white;
  transition: 1s ease fill;
}

button#buttonMenu .logoletters.firstW {
  left: 4.4rem;
  color: transparent;
}

button#buttonMenu .logoletters.rotatedW {
  top: 0;
  left: 2.9rem;
}

button#buttonMenu .logoletters.lastW {
  left: 0;
}

button#buttonMenu.toggled .firstW {
  left: 0;
  color: white;
  transition: ease 1s left, ease 1s color;
}

button#buttonMenu.toggled .rotatedW {
  top: .1rem;
  left: .1rem;
  transition: ease 1s left;
}

button#buttonMenu.toggled .lastW {
  left: -.2rem;
  transition: ease 1s left;
}

nav {
  display: none;
}

nav.open {
  display: block;
  overflow-y: auto;
  height: calc(100vh - 6rem);
  padding-top: 1rem;
}

nav li {
  font-size: 2.2rem;
}

nav li a {
  text-decoration: none;
  padding: .8rem 0;
  display: block;
}

nav li .menu-title {
  background-color: white;
  color: black;
  display: inline-block;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

nav .logoletters.rotatedW {
  top: .1rem;
}

nav .logoletters.lastW {
  left: -.3rem;
}

body.info main {
  padding: 1.5rem;
  margin-top: 5rem;
}

@media (min-width: 900px) {
  body.info main {
    width: 80rem;
    margin: auto;
    margin-top: 5rem;
  }
}

body main {
  padding: 2.7rem;
}

h2 {
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 8rem;
  margin-bottom: 4rem;
}

a {
  color: white;
  text-decoration: underline;
}

a:hover {
  color: white;
  text-decoration: underline;
}

footer {
  padding: 0 1.5rem;
}

@media (min-width: 900px) {
  footer {
    width: 80rem;
    margin: auto;
    margin-bottom: 4rem;
  }
}

footer P {
  font-size: 1.8rem;
}

.logo {
  width: 15rem;
}

.logo path {
  fill: white;
}

#newsletter {
  margin-top: 3em;
  margin-bottom: 2em;
}

#newsletter fieldset span {
  font-family: "Raleway", sans-serif !important;
  font-size: 1.4em !important;
  font-weight: normal !important;
}

.enter-button {
  width: 12.5rem;
  margin: auto;
  margin-top: 4.5rem;
  border: .1rem solid white;
  text-align: center;
  text-transform: uppercase;
}

.enter-button a {
  text-decoration: none;
  padding: 1rem;
  display: block;
}

p {
  font-family: "Open Sans Condensed",sans-serif;
  letter-spacing: .05rem;
  text-align: left;
  line-height: 2.5rem;
}

div {
  line-height: 2.5rem;
  font-size: 1.9rem;
}

div.left {
  text-align: left;
}
/*# sourceMappingURL=main.css.map */