#instructions {
    position: absolute;
    background-color: black;
    width: 30%;
    min-width: 300px;
    max-width: 500px;
    z-index: 999;
    top: 1em;
    left: 1em;
    padding: 10px;
    cursor: pointer;
    max-height: 100vh;
    overflow-y: auto;
    

    h2 {
        margin: 1em 0;
        font-size: 2em;
        cursor: pointer;
    }

    p {
        color: $red;
        cursor: pointer;
        span {
            color: $yellow;
        }

    }
}