#message-form {
    position: absolute;
    bottom: calc(1em + 3px);
    max-width: calc(800px - 2em - 25px);
    margin: auto 1em;
    width: calc(100% - 2em - 25px);


    form {
        border-radius: 5px;
    }
}