.chat {

    /* width */
    &::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    background:$yellow;
    border-radius: 7px;
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $purple;
    border-radius: 7px;
    border: 2px solid $purple;
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $blue;
  }
}