
body {
    header {
        &#waaw-header{
            position: fixed;
            top: 0;
            right: 0;
            padding: 2rem;
            @include desktop {
               padding: 2.5rem 5rem; 
            }
            
            font-family: $font-title;
            text-align: right;    
            z-index: 99999;
        }
    
        &:not(#waaw-header) {
            margin-top: 4rem;
        }
    }

    
    header#waaw-header.open {
        border: .2rem dashed $yellow;
        z-index: 99999;
        width: 90%;

        margin: 3rem 5%;
        max-height: calc(100vh - 6rem);

        @include desktop {
          width: 80%; 
          margin: 5rem 10%; 
          max-height: calc(100vh - 10rem);
        }  
    }

    &.info header#waaw-header.open {
        background-color: $blue;
    }

    &.index header#waaw-header.open {
        background-color: $turquoise;
    }

    &.credits header#waaw-header.open {
        background-color: $purple;
    }

    &.about header#waaw-header.open {
        background-color: $purple;
    }

    &.newsletter-pages header#waaw-header.open,
    &.opening header#waaw-header.open{
        background-color: $yellow;
        border: dashed .2rem $blue;
    }


}

