nav {
    display: none;
    

    &.open {
        display: block;
        
    }


    li {
        line-height: 45px;
        text-align: left;
        font-size: 25px;
        color: $blue;
        font-weight: bold;
        list-style: url('../img/puce1.png');
        margin-left: 10px;

        a {
            color: $blue;
        }
    }

    

    .logoletters {
        &.firstW {
            left: 5px;
        }

        &.rotatedW {
            top: 1px;
            left: 2px;
        }
    
        &.lastW {
            left: -4px;
        }
    }
}

body {

    &.info header#waaw-header.open, &.credits header#waaw-header.open, &.about header#waaw-header.open {

        li {
            color: $yellow;
            a {
                color: $yellow;
            }
        }
    }

   


}

