.afterworld .device {
    form {
        position: absolute;
        top: 49.9rem;
        width: 28.8rem;
        background-color: white;
        padding: 1rem;

        @include desktop {
            display: flex;
            top: 24.5rem;
            right: 6.5rem;
            width: 28.7rem;
            align-items: flex-end;
            background-color: transparent !important;
        }

        @include largedesktop {
            top: 33.7rem;
            right: 8.5rem;
            width: 28.2rem;
        }
    }
}