.enter-button {
    width: 125px;
    margin: auto;
    margin-top: 2em;
    padding: 10px;
    border: 1px solid
    white;
    text-align: center;
    text-transform: uppercase;

    a {
        text-decoration: none;
    }
}

