.enter-button {
    width: 12.5rem;
    margin: auto;
    margin-top: 4.5rem;
    
    border: .1rem solid white;
    text-align: center;
    text-transform: uppercase;

    a {
        text-decoration: none;
        padding: 1rem;
        display: block;
    }
}

