// Colors
$beige: #BF793B;
$white: #A0C1D4;



// Fonts
$font-body: 'Times New Roman', serif;
$font-title: 'Raleway', sans-serif;

// Sizes
$line-height: 25px;

// Animation
$transition-duration: 1s;
$transition-effect: ease;
