.logoletters {
    position: relative;
    display: inline-block;

    &.firstW {
        letter-spacing: -1px;
    }

    &.rotatedW {
        transform: rotate(180deg);
        letter-spacing: -2px;
    }

    

}

nav a > span.rotatedW.logoletters {
    top: 0px;
}

