body.opening {
    background-color: black;
    main {
        background-color: black;
        min-height: calc(100vh - 2em);
        padding: 10px;
        border: none;
        margin: 1em auto;
        position: relative;

        .chat {
            margin-top: 2em;
            height: calc(100vh - 13.5em);
            overflow-y: scroll;
            
        }
    }
}