button[type="submit"] {
    background-color: $green;
    padding: .7rem;
    margin-left: auto;
    font-family: $font-body;
    margin: .5rem;
    margin-left: auto;
    text-transform: uppercase;
    color: $blue;
    font-weight: bold;
}