#newsletter > div {
    fieldset strong {
        font-family: "Raleway", sans-serif !important;
    }
    fieldset:last-child div {

        &:hover {
            background-color: $color-red !important;
        }


        &::after {
            @extend .online-work-button::after ;
        }

        &:hover::after {
            left: 0;
            width: 100%;
            transition: $transition-duration $transition-effect width,
                        $transition-duration $transition-effect left;
        }
    }
}

// #newsletter {


//     fieldset:first-child span {
//         font-family: $font-body !important;
//         font-size: 120% !important;
//         font-weight: normal !important;

        
//     }



// }

