.logo {
    width: 15rem;
    svg {
        width: 14rem;
        height: 6rem;

        @include desktop {
            width: 16rem;
            height: 8rem;
        }
        
    }
    path {
        fill: $yellow;
    }
}