button#buttonMenu {
    // font-style
    font-family: $font-title;
    color: $green;
    font-size: 22px;
    font-weight: bolder;

    // block styles
    padding: 4px 0 4px;
    margin-bottom: 0em;

    // positions
    position: relative;
    top: -11px;

    // animation
    transition: $transition-duration $transition-effect color;

    //toggled button
    &.toggled {
        left: 0;
        color: $blue;
        transition: $transition-duration $transition-effect color;
    }



    // icon Info
    #info-icon {
        width: 24px;
        position: relative;
        top: 3px;
        left: 53px;

        path {
            fill: $green;
            transition: $transition-duration $transition-effect color;
        }
        
    }
    // toggled -> info-icon
    &.toggled {
        #info-icon {
            left:0;
            transition: $transition-effect $transition-duration left;

            path {
                fill: $blue;
                transition: $transition-duration $transition-effect fill;
            }
        }
    }




    // letters logo
    .logoletters {
        &.firstW {
            left: 44px;
            color: transparent;
        }
    
        &.rotatedW {
            top: -2px;
            left: 30px;
        }
    
        &.lastW {
            left: 0;
        }
    }

    
    // toggled -> letters of the logo
    &.toggled {
        .firstW {
            left: 0;
            color: $blue;
            transition: $transition-effect $transition-duration left,
                        $transition-effect $transition-duration color;
        }

        .rotatedW {
            top: 1px;
            left: 1px;
            transition: $transition-effect $transition-duration left;
        }

        .lastW {
            left: -2px;
            transition: $transition-effect $transition-duration left;
        }
    }


}


body.info button#buttonMenu.toggled, body.credits button#buttonMenu.toggled, body.about button#buttonMenu.toggled {
    color: $yellow;

    .firstW {
        color: $yellow;
    }

    #info-icon path {
            fill: $yellow;
        
    }
}