
body {
    header {
        &#waaw-header{
            position: fixed;
            top: 0;
            right: 0;
            padding: 2.5rem;
            font-family: $font-title;
            text-align: right;    
            z-index: 99999;
        }
    
        &:not(#waaw-header) {
            margin-top: 4rem;
        }
    }

    
    header#waaw-header.open {
        z-index: 99999;
        min-width: 30%;
        height: 100vh;
        background-color: $beige;
    }


}

