nav {
    display: none;

    &.open {
        display: block;
        height: calc(100vh - 2.5rem - 3.5rem);
        overflow-y: auto;
        
    }


    li {
        line-height: 3.5rem;
        text-align: left;
        font-size: 2rem;
        color: $blue;
        font-weight: bold;        
        list-style: none;

        span.menu-title {
            background-color: $darkGrey;
        }

        a {
            color: $darkGrey;
            padding: .7rem 0;
            display: block;
        }

        li {
            margin-left: 2rem;

             a::before {
                display: inline-block;
                content: "#";
                color: $darkGrey;
            }
        }

    }


    .logoletters {
        &.firstW {
            left: .5rem;
        }

        &.rotatedW {
            top: -.2rem;
            left: .2rem;
        }
    
        &.lastW {
            left: -.4rem;
        }
    }
}


