.buttons {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
}
.enter-button {
    width: 200px;
    margin: auto;
    margin-top: 2em;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    border: solid $color-blue 1px;
    font-size: 1.1em;
    
    &:hover {
        border: solid $color-red 1px;
    }
    

    a {
        text-decoration: none;
        color: $color-red;
        font-weight: bold;
        &:hover {
            color: $color-brown;
        }
    }

    
}



