tw-story {
    padding: 5% 20%;
}

tw-passage {
    height: initial;
    overflow-y: auto;
}

tw-passage[tags~="object"], tw-passage[tags~="furniture"] {
    Width: calc(50% - 1em);
  height: calc(100% - 2em);
  top: 1em;
  left: 1em;
}

