// Colors
$blue: #0000ff;
$yellow: #fff200;
$red: #ff0000;




// Fonts
$font-title: 'Raleway', sans-serif;
$font-soren: 'West England', monospace;

// Sizes
$line-height: 2.5rem;

// Animation
$transition-duration: 1s;
$transition-effect: ease;
