.confirmation, .thanks {
    line-height: 23px;
    text-align: center;
    font-size: 19px;
    width: 50%;
    margin: auto;
    padding-top: calc((100vh - 350px) /2);
    height: calc(100vh - 200px);

}