@font-face {
  font-family: 'West England';
  src: url(../fonts/west_england.woff);
}

@keyframes titleInformationAppartion {
  0% {
    background-color: transparent;
    border: 2px solid transparent;
    color: transparent;
  }
  30% {
    background-color: white;
    border: 2px solid black;
    color: black;
  }
  70% {
    background-color: white;
    border: 2px solid black;
    color: black;
  }
  100% {
    background-color: transparent;
    border: 2px solid transparent;
    color: transparent;
  }
}

body {
  font-family: "West England", monospace;
  font-size: 2rem;
  background-color: black;
}

footer p {
  font-size: 1.5rem;
  line-height: 2rem;
}

p {
  line-height: 3rem;
  font-family: "West England", monospace;
  color: #fff200;
}

h2 {
  text-transform: uppercase;
  font-weight: normal;
  font-family: "West England", monospace;
  color: #ff0000;
  margin-bottom: 6rem;
}

a {
  color: #0000ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #ff0000;
}

a:focus-visible, button:focus-visible {
  outline: #ff0000 0.2rem solid;
  outline-offset: .4rem;
}

.logo path {
  fill: #fff200;
}

.logo:hover path {
  fill: #ff0000;
}

hr {
  border: 0.2rem solid #fff200;
}

.buttons .enter-button {
  border: solid #fff200 0.2rem;
  font-size: 2.2rem;
}

.buttons .enter-button:hover {
  border-color: #ff0000;
}

.buttons .enter-button a {
  color: inherit;
}

.buttons .enter-button a:hover {
  color: #ff0000;
}

body header#waaw-header.open {
  background-color: black;
}

button#buttonMenu {
  color: #ff0000;
}

button#buttonMenu.toggled {
  color: #fff200;
}

button#buttonMenu #info-icon path {
  fill: #ff0000;
}

button#buttonMenu.toggled #info-icon path {
  fill: #fff200;
}

button#buttonMenu.toggled .firstW {
  color: #fff200;
}

nav {
  font-family: 'West England', monospace;
}

nav.open {
  padding-bottom: 3rem;
}

#waaw-header nav a > span.rotatedW.logoletters {
  top: -.1rem;
}

#waaw-header li {
  font-size: 2.5rem;
  color: #fff200;
  margin-bottom: 2rem;
}

@media (min-width: 800px) {
  #waaw-header li {
    margin-bottom: 1rem;
  }
}

#waaw-header li a {
  color: #ff0000;
}

nav#touch-navigation {
  display: block;
  position: absolute;
  bottom: 0;
  background-color: rgba(128, 128, 128, 0.602);
  border-radius: .3rem;
  border: .1rem grey solid;
  border-left: none;
  left: -35.6rem;
  bottom: 1rem;
  transition: ease .5s left;
  height: 7.7rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  padding-bottom: 0;
  overflow-y: hidden;
}

nav#touch-navigation:hover {
  left: -34.5rem;
  transition: ease .5s left;
}

nav#touch-navigation.open {
  left: -1.3rem;
}

nav#touch-navigation.open:hover {
  left: -1.3rem;
}

nav#touch-navigation ul {
  display: flex;
  max-width: 45rem;
  margin: 1rem;
}

nav#touch-navigation ul li {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav#touch-navigation button {
  background-color: white;
  font-weight: bold;
  color: black;
  border: .2rem solid black;
  cursor: pointer;
  width: 5.5rem;
  height: 5.5rem;
  font-family: 'VT323', monospace;
  font-size: 1.5em;
  margin-left: 1rem;
}

nav#touch-navigation button:focus {
  border: .2rem solid black;
  background-color: #a3a3a3;
}

nav#touch-navigation button:active {
  background-color: black;
  color: white;
  outline: none;
  border: .2rem solid black;
}

nav#touch-navigation button#button-background {
  border-radius: 50%;
  margin-left: .8rem;
}

nav#touch-navigation button:hover:after {
  content: attr(alt);
  position: absolute;
  font-family: 'VT323', monospace;
  font-size: 1.5rem;
  padding: .4rem;
  color: transparent;
  animation-name: titleInformationAppartion;
  animation-duration: 3s;
  pointer-events: none;
  width: max-content;
}

nav#touch-navigation button#button-menu {
  background-color: transparent;
  color: transparent;
  border: none;
  border-right: solid 0.3rem #ff0000;
  border-bottom: solid 0.3rem #ff0000;
  transition: 1s ease border-color;
  width: 1rem;
  height: 1rem;
  transform: rotate(-45deg);
  margin: 3.4rem .7rem 3.4rem 1.4rem;
  transition: ease 1s transform;
}

nav#touch-navigation button#button-menu:hover:after {
  content: attr(alt);
  transform: rotate(45deg);
}

nav#touch-navigation button#button-menu.open {
  transform: rotate(-225deg) !important;
  transition: ease 1s transform;
}

nav#touch-navigation button#button-menu.open:hover:after {
  content: attr(alt);
  transform: rotate(225deg);
}

nav#touch-navigation button #button-arrow {
  display: block;
  background-color: #fff200;
  width: .5rem;
  height: .5rem;
  border-right: .2rem black solid;
  border-bottom: .2rem black solid;
}

.artwork-intro p {
  color: #ff0000;
}

.artwork-intro p:hover, .artwork-intro p:focus-visible {
  color: #fff200;
}

.artist-bio p {
  color: #0000ff;
}

.artist-bio p:hover, .artist-bio p:focus-visible {
  color: #fff200;
}

body.index {
  background-image: url("../img/726/main_screen_01_726.png");
  background-position: top left;
  background-size: auto;
  background-color: #fff200;
}

@media (min-width: 727px) {
  body.index {
    background-image: url("../img/968/main_screen_01_968.png");
  }
}

@media (min-width: 969px) {
  body.index {
    background-image: url("../img/1210/main_screen_01_1210.png");
  }
}

@media (min-width: 1210px) {
  body.index {
    background-image: url("../img/1452/main_screen_01_1452.png");
  }
}

@media (min-width: 1453px) {
  body.index {
    background-image: url("../img/1815/main_screen_01_1815.png");
  }
}

@media (min-width: 1816px) {
  body.index {
    background-image: url("../img/2420/main_screen_01_2420.png");
  }
}

@media (min-width: 2421px) {
  body.index {
    background-image: url("../img/3025/main_screen_01_3025.png");
  }
}

.index main {
  width: 100vw;
  height: 100vh;
  overflow: hidden !important;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0;
  padding: 0;
}

#instructions {
  position: absolute;
  background-color: black;
  width: 30%;
  min-width: 30rem;
  max-width: 50rem;
  z-index: 999;
  top: 1.6rem;
  left: 1.6rem;
  padding: 1.4rem;
  cursor: pointer;
  max-height: 100vh;
  overflow-y: auto;
}

#instructions h2 {
  margin: 3.3rem 0;
  font-size: 3.3rem;
  cursor: pointer;
}

#instructions p {
  color: #ff0000;
  cursor: pointer;
  font-size: 1.6rem;
  line-height: 2.5rem;
}

#instructions p span {
  color: #fff200;
}

img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: unset;
}
/*# sourceMappingURL=main.css.map */