#newsletter {
    margin-top: 3em;
    margin-bottom: 2em;

    fieldset:first-child span {
        font-family: $font-body !important;
        font-size: 120% !important;
        font-weight: normal !important;

        
    }



}

