#newsletter {
    margin-top: 3em;
    margin-bottom: 2em;

    fieldset span {
        font-family: $font-title !important;
        font-size: 1.4em !important;
        font-weight: normal !important;
    }
}

