#newsletter > div {
    fieldset strong {
        font-family: "Raleway", sans-serif !important;
    }
    fieldset:last-child div {

        &:hover {
            background-color: $color-red !important;
        }


        &::after {
            content: " ";
        display: block;
        height: .3rem;
        
        position: relative;
        bottom: -.75rem;
        left: 50%;
        width: 0;
        background-color: $color-red;
        transition: $transition-duration $transition-effect width,
                    $transition-duration $transition-effect left;
        }

        &:hover::after {
            left: 0;
            width: 100%;
            transition: $transition-duration $transition-effect width,
                        $transition-duration $transition-effect left;
        }
    }
}

