main {
    padding: 1.5rem;
    
    margin-top: 3rem;

    @media (min-width: 900px) {
        margin: auto;
        margin-top: 0;
        padding-top: 0;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    h1 {
        margin-bottom: 1.8rem;
    }

    h2 {
        margin-bottom: 5.5rem;
        color: $beige;
    }    
}
