button#buttonMenu {
    color: #d9a76a;
}

button#buttonMenu.toggled .logoletters, button#buttonMenu.toggled #firstW {
    color: #393939;
}

button#buttonMenu #info-icon path {
    fill: #d9a76a;
}

body.info button#buttonMenu.toggled #info-icon path {
    fill: #393939;
}

body.info header#waaw-header.open {
    background-color: #d9a76a;
    border: none;
    height: 100vh;
    overflow-y: hidden;
    padding: 25px 15px 15px;
}

nav.open {
    height: calc(100vh - 62px);
    overflow-y: auto;
}

body.info header#waaw-header.open li {
    list-style: none;
    color: #5568D9;
    margin-left: 0;
    line-height: 32px;
    margin-bottom: 15px;
    font-size: 20px;
}

body.info header#waaw-header.open li a {
    color: #393939;
    
}

body.info header#waaw-header.open li > ul > li a::before {
    content: "- ";
    display: inline-block;
    padding-right: 5px;
}