@charset "UTF-8";
@keyframes blink {
  0% {
    color: #0CE818;
    border: dashed #0CE818 2px;
  }
  25% {
    color: #FFFA0A;
    border: dashed #FFFA0A 2px;
  }
  50% {
    color: #B000FF;
    border: dashed #B000FF 2px;
  }
  75% {
    color: #00FFF7;
    border: dashed #00FFF7 2px;
  }
  100% {
    color: magenta;
    border: dashed magenta 2px;
  }
}

@keyframes blinkBackground {
  0% {
    background-color: #0CE818;
  }
  12% {
    background-color: #FFFA0A;
  }
  37% {
    background-color: #B000FF;
  }
  62% {
    background-color: #00FFF7;
  }
  87% {
    background-color: magenta;
  }
  100% {
    background-color: #0CE818;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", serif;
  margin: 0;
  scroll-behavior: smooth;
  background-color: #393939;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 200%;
  position: relative;
}

body.part2 {
  background-image: url("../img/background2.jpg");
  background-size: 130%;
}

body.part3 {
  background-image: url("../img/shadow.gif");
  background-size: cover;
  background-attachment: fixed;
}

body.part4 {
  background-image: none;
  background-color: wheat;
}

body.part4 h1, body.part4 h2, body.part4 h3, body.part4 h4 {
  font-family: 'Pangolin';
  color: black;
}

body.part4 h1 {
  font-size: 3em;
}

body.part4 h2 {
  margin-bottom: .5em;
}

body.part4 h3 {
  margin-top: 0;
}

body.part4 p > a {
  color: royalblue;
  font-family: 'Pangolin';
}

body.part5 {
  background-image: url("../img/afterworld/mobiletabletop.png");
  background-size: cover;
}

@media (min-width: 800px) {
  body.part5 {
    background-image: url("../img/afterworld/computertabletop.png");
    height: 100vh;
  }
}

body.part5 h2 {
  margin-bottom: .5em;
  font-size: 2em;
  margin-top: .7em;
  color: #f1f1f1;
}

body.part5 h3 {
  margin-top: .5em;
  color: #f1f1f1;
}

body.part5 #waaw-header.open {
  background-color: #FFFA0A;
  border: dashed 2px #0C34E8;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", serif;
  color: white;
}

h1 .title, h2 .title, h3 .title, h4 .title, h5 .title, h6 .title {
  width: 200px;
}

h3 {
  margin-top: 2em;
}

li {
  list-style-type: none;
}

input, form input::placeholder {
  border: none;
  outline: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
}

hr {
  border: 2px dashed #FFFA0A;
  border-bottom: none;
}

a {
  color: #0CE818;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  padding: 10px;
  margin-top: 2em;
}

@media (min-width: 900px) {
  main {
    margin: auto;
    margin-top: 2em;
    margin-top: 0;
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
}

main h1 {
  margin-bottom: .5em;
}

main h2 {
  margin-bottom: 2em;
  color: #d9a76a;
}

main .announcement {
  position: relative;
  top: -3em;
}

main .announcement p {
  text-align: center;
  font-size: 2.5em;
  margin-top: 0;
  margin-bottom: .5em;
  color: #B000FF;
  font-weight: bold;
}

body.index main, body.credits main {
  padding-bottom: 8em;
}

body.about main, body.info main, body.newsletter-pages main {
  margin-top: 5em;
}

body.part2 h2 {
  margin-bottom: .3em;
}

body.part2 h3 {
  margin-top: 0;
  font-size: 1em;
  color: #d9a76a;
  margin-bottom: 2em;
}

body.part4 {
  margin: auto;
}

blockquote {
  margin: 50px auto;
  color: #B000FF;
  max-width: 600px;
}

blockquote p:first-child {
  display: flex;
  width: fit-content;
  margin: auto;
  font-weight: bold;
}

blockquote p:first-child::before, blockquote p:first-child::after {
  display: block;
  font-size: 3em;
  position: relative;
}

blockquote p:first-child::before {
  content: "“";
  top: -9px;
  padding-right: 20px;
}

blockquote p:first-child::after {
  content: "„";
  top: -34px;
  padding-left: 20px;
}

blockquote p:last-child {
  margin-top: 30px;
  text-align: right;
}

blockquote p:last-child .title {
  font-style: italic;
}

p {
  line-height: 1.5em;
  margin: 1em 0;
  text-align: justify;
}

p.credits {
  font-size: 1.5em;
  margin: 2em 0;
  color: #00FFF7;
  line-height: 30px;
}

p.message {
  color: #B000FF;
  font-weight: bold;
}

.diconnected-section {
  margin: auto;
  margin-top: 70vh;
  margin-bottom: 70vh;
  width: 75%;
  min-width: 350px;
}

.diconnected-section:first-child {
  margin-top: 20vh;
}

.diconnected-section.windows {
  width: 100%;
}

.diconnected-section.windows.first {
  margin-top: 20vh;
}

.diconnected-section.windows.right img {
  margin-left: auto;
}

.diconnected-section.windows img {
  width: 30%;
  margin-bottom: 1em;
  min-width: 400px;
}

.diconnected-section#letterflo {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.diconnected-section#letterflo > img {
  width: 30vw;
  height: calc(30vw * 7 / 5);
  margin-right: 1em;
  object-fit: cover;
  min-width: 300px;
  min-height: calc(300px * 7 / 5);
  margin: auto;
  margin-bottom: 1em;
}

.diconnected-section#letterflo div {
  height: calc(30vw * 7 / 5);
  overflow-y: scroll;
  min-height: calc(300px * 7 / 5);
  width: calc(100% - 30vw - 1em);
}

.diconnected-section#letterflo div img {
  margin-bottom: 1em;
}

.diconnected-section#squaretexts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.diconnected-section#squaretexts img {
  width: 29%;
  height: 29%;
  margin: .5em;
  min-width: 300px;
}

.device {
  background-image: url("../img/afterworld/mobilebackground.png");
  width: 328px;
  height: 648px;
  background-size: cover;
  padding: 109px 19px 20px 22px;
  position: relative;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

@media (min-width: 800px) {
  .device {
    background-image: url("../img/afterworld/computerbackground.png");
    width: 756px;
    padding: 19px 64px 92px 67px;
    height: 451px;
    bottom: 0;
    margin-bottom: 0;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  .device::after {
    content: '';
    display: block;
    background-image: url(../img/afterworld/computerbottom.png);
    width: 626px;
    position: relative;
    bottom: 12px;
    height: 16px;
    background-size: cover;
  }
}

@media (min-width: 1050px) {
  .device {
    width: 950px;
    height: 568px;
    padding: 25px 81px 99px 89px;
  }
  .device::after {
    width: 780px;
    bottom: 3px;
    height: 20px;
  }
}

.device a {
  color: black;
}

.device header {
  margin: 0 !important;
  width: 288px;
  background-color: white;
}

.device header::before {
  content: '';
  width: 288px;
  height: 16px;
  background-image: url("../img/afterworld/mobiletop.png");
  display: block;
  background-size: cover;
}

@media (min-width: 800px) {
  .device header::before {
    display: none;
  }
}

.device header a {
  display: flex;
  padding: 5px 10px;
  color: black;
  align-items: center;
}

.device header a p {
  margin: 0;
  font-weight: bold;
  line-height: 97%;
}

.device header a p span {
  font-weight: normal;
  color: gray;
  font-size: .9em;
}

.device header a img {
  width: 15px;
  height: 27px;
}

.device header h4 {
  color: black;
  text-align: center;
  padding: 7px;
  width: 288px;
}

@media (min-width: 800px) {
  .device header {
    width: 613px;
    position: relative;
    background-size: cover;
    height: 33px;
    clip-path: initial;
    left: 6px;
    top: 1px;
  }
  .device header.background-1 {
    background-image: url("../img/afterworld/computer-menu1.jpg");
  }
  .device header.background-2 {
    background-image: url("../img/afterworld/computer-menu2.jpg");
  }
  .device header.background-3 {
    background-image: url("../img/afterworld/computer-menu3.jpg");
  }
  .device header.background-4 {
    background-image: url("../img/afterworld/computer-menu4.jpg");
  }
  .device header.background-5 {
    background-image: url("../img/afterworld/computer-menu5.jpg");
  }
  .device header.background-plus {
    background-image: url("../img/afterworld/computer-menu-plus.jpg");
  }
  .device header nav {
    display: flex;
    font-size: 0.6em;
    padding-left: 6px;
  }
}

@media (min-width: 800px) and (min-width: 1050px) {
  .device header nav {
    padding-left: 5px;
  }
}

@media (min-width: 800px) {
  .device header nav a {
    width: 105px;
    position: relative;
    top: -3px;
    text-align: center;
  }
  .device header nav a.plus-link {
    width: 12px;
    padding: 0;
    text-align: center;
    padding-left: 2px;
  }
}

@media (min-width: 800px) and (min-width: 1050px) {
  .device header nav a {
    padding-left: 16px;
    padding-right: 0;
    width: 132px;
    top: -1px;
  }
  .device header nav a.plus-link {
    padding-left: 11px;
    width: 30px;
  }
}

@media (min-width: 800px) {
  .device header p.breadcrumbs {
    color: black;
    margin: 0;
    font-size: .5em;
    position: relative;
    top: -4px;
    left: 8em;
  }
}

@media (min-width: 800px) and (min-width: 1050px) {
  .device header p.breadcrumbs {
    top: 2px;
    left: 10em;
  }
}

@media (min-width: 1050px) {
  .device header {
    width: 776px;
    height: 42px;
    left: 2px;
    top: 1px;
  }
}

.device form {
  position: absolute;
  top: 499px;
  width: 288px;
  align-items: center;
}

@media (min-width: 800px) {
  .device form {
    top: 259px;
    right: 77px;
    width: 287px;
    align-items: flex-end;
    background-color: transparent !important;
  }
}

@media (min-width: 1050px) {
  .device form {
    top: 347px;
    right: 98px;
    width: 282px;
  }
}

.device form textarea {
  height: 30px;
  border-radius: 15px;
  background-color: #f1f1f1;
  padding-left: 15px;
  color: black;
  font-size: 1.1em;
  outline: none;
  border: none;
  resize: none;
  width: 237px;
  padding-top: 5px;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 800px) {
  .device form textarea {
    height: 90px;
    font-size: .9em;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.device form textarea::placeholder {
  padding-left: 0;
  color: grey;
  font-style: oblique;
  font-size: 1em;
}

.device form button {
  background-color: white;
}

.device form button img {
  width: 20px;
}

@media (min-width: 800px) {
  .device form button {
    padding-bottom: 0;
    margin-bottom: 5px;
    background-color: transparent !important;
  }
}

.afterworld {
  background-color: white;
}

@media (min-width: 800px) {
  .afterworld {
    clip-path: polygon(1% 1%, 99% 1%, 100% 97.5%, 0% 97.5%);
  }
}

.afterworld.question-answers {
  position: relative;
  top: -1px;
  height: 350px;
  overflow-y: scroll;
}

@media (min-width: 800px) {
  .afterworld.question-answers {
    height: 318px;
    top: -4px;
  }
}

@media (min-width: 1050px) {
  .afterworld.question-answers {
    height: 388px;
    top: -3px;
    clip-path: polygon(0.3% 1%, 99.8% 1%, 100% 100%, 0 100%);
  }
}

.afterworld .question {
  padding: 10px;
}

.afterworld .question p {
  width: 75%;
  margin: 0;
  margin-left: auto;
  background-color: #009bff;
  border-radius: 15px;
  padding: 10px;
  text-align: left;
}

@media (min-width: 800px) {
  .afterworld .question {
    position: absolute;
    width: 602px;
    right: 0;
    height: 211px;
  }
  .afterworld .question p {
    width: 45%;
    font-size: .9em;
  }
}

@media (min-width: 1050px) {
  .afterworld .question {
    height: 283px;
  }
}

.afterworld p.answer-received {
  position: relative;
  margin-top: 1em;
  background: blanchedalmond;
}

@media (min-width: 800px) {
  .afterworld p.answer-received {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}

.afterworld .answers .message {
  width: 75%;
  background-color: #f1f1f1;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  margin-bottom: 1em;
}

.afterworld .answers .message p {
  margin: 0;
  text-align: left;
}

@media (min-width: 800px) {
  .afterworld .answers .message {
    width: 45%;
  }
  .afterworld .answers .message p {
    font-size: .9em;
  }
}

.afterworld#mobile-menu {
  width: 288px;
  height: 361px;
  overflow-y: scroll;
  position: relative;
  top: -1px;
}

.afterworld#mobile-menu .menu-question {
  display: flex;
  align-items: center;
}

.afterworld#mobile-menu .menu-question .right-arrow {
  width: 25px;
  height: 27px;
  margin: 10px;
  margin-left: auto;
  padding-left: 10px;
}

.afterworld .question-img {
  width: 40px;
  margin: 7px;
}

.afterworld .question-img.img-conversation {
  height: 40px;
  margin: 7px 10px;
}

.afterworld#plus {
  height: 373px;
  width: 288px;
}

@media (min-width: 800px) {
  .afterworld#plus {
    width: 625px;
    height: 318px;
  }
}

@media (min-width: 1050px) {
  .afterworld#plus {
    width: 779px;
    height: 388px;
  }
}

@media (min-width: 800px) {
  .afterworld#question1 {
    background-image: url("../img/afterworld/background1.png");
    background-size: cover;
    background-position: bottom;
  }
  .afterworld#question2 {
    background-image: url("../img/afterworld/background2.png");
    background-size: cover;
  }
  .afterworld#question3 {
    background-image: url("../img/afterworld/background3.png");
    background-size: cover;
    background-position: bottom;
  }
  .afterworld#question4 {
    background-image: url("../img/afterworld/background4.png");
    background-size: cover;
    background-position: bottom;
  }
  .afterworld#question5 {
    background-image: url("../img/afterworld/background5.png");
    background-size: cover;
    background-position: center;
  }
}

form {
  background-color: white;
  padding: 0px;
  display: flex;
  padding-left: 10px;
}

form input, form input::placeholder {
  width: calc(100% - 50px);
  background-color: transparent;
  font-family: "Roboto", serif;
  color: #0C34E8;
  height: 40px;
}

button[type="submit"] {
  background-color: #0CE818;
  padding: 7px;
  margin-left: auto;
  font-family: "Roboto", serif;
  margin: 5px;
  margin-left: auto;
  text-transform: uppercase;
  color: #0C34E8;
  font-weight: bold;
}

.logoletters {
  position: relative;
  display: inline-block;
}

.logoletters.firstW {
  letter-spacing: -1px;
}

.logoletters.rotatedW {
  transform: rotate(180deg);
  letter-spacing: -2px;
}

body header#waaw-header {
  position: fixed;
  top: 0;
  right: 0;
  padding: 25px;
  font-family: "Raleway", sans-serif;
  text-align: right;
  z-index: 99999;
}

body header:not(#waaw-header) {
  margin-top: 40px;
}

body header#waaw-header.open {
  border: 2px dashed #FFFA0A;
  z-index: 99999;
  min-width: 100%;
}

body.info header#waaw-header.open {
  background-color: #0C34E8;
}

body.index header#waaw-header.open {
  background-color: #00FFF7;
}

body.credits header#waaw-header.open {
  background-color: #B000FF;
}

body.about header#waaw-header.open {
  background-color: #B000FF;
}

body.newsletter-pages header#waaw-header.open,
body.opening header#waaw-header.open {
  background-color: #FFFA0A;
  border: dashed 2px #0C34E8;
}

button#buttonMenu {
  font-family: "Raleway", sans-serif;
  color: #0CE818;
  font-size: 22px;
  font-weight: bolder;
  padding: 4px 0 4px;
  margin-bottom: 0em;
  position: relative;
  top: -11px;
  transition: 1s ease color;
}

button#buttonMenu.toggled {
  left: 0;
  color: #0C34E8;
  transition: 1s ease color;
}

button#buttonMenu #info-icon {
  width: 24px;
  position: relative;
  top: 3px;
  left: 53px;
}

button#buttonMenu #info-icon path {
  fill: #0CE818;
  transition: 1s ease color;
}

button#buttonMenu.toggled #info-icon {
  left: 0;
  transition: ease 1s left;
}

button#buttonMenu.toggled #info-icon path {
  fill: #0C34E8;
  transition: 1s ease fill;
}

button#buttonMenu .logoletters.firstW {
  left: 44px;
  color: transparent;
}

button#buttonMenu .logoletters.rotatedW {
  top: -2px;
  left: 30px;
}

button#buttonMenu .logoletters.lastW {
  left: 0;
}

button#buttonMenu.toggled .firstW {
  left: 0;
  color: #0C34E8;
  transition: ease 1s left, ease 1s color;
}

button#buttonMenu.toggled .rotatedW {
  top: 1px;
  left: 1px;
  transition: ease 1s left;
}

button#buttonMenu.toggled .lastW {
  left: -2px;
  transition: ease 1s left;
}

body.info button#buttonMenu.toggled, body.credits button#buttonMenu.toggled, body.about button#buttonMenu.toggled {
  color: #FFFA0A;
}

body.info button#buttonMenu.toggled .firstW, body.credits button#buttonMenu.toggled .firstW, body.about button#buttonMenu.toggled .firstW {
  color: #FFFA0A;
}

body.info button#buttonMenu.toggled #info-icon path, body.credits button#buttonMenu.toggled #info-icon path, body.about button#buttonMenu.toggled #info-icon path {
  fill: #FFFA0A;
}

nav {
  display: none;
}

nav.open {
  display: block;
}

nav li {
  line-height: 45px;
  text-align: left;
  font-size: 25px;
  color: #0C34E8;
  font-weight: bold;
  list-style: url("../img/puce1.png");
  margin-left: 10px;
}

nav li a {
  color: #0C34E8;
}

nav .logoletters.firstW {
  left: 5px;
}

nav .logoletters.rotatedW {
  top: 1px;
  left: 2px;
}

nav .logoletters.lastW {
  left: -4px;
}

body.info header#waaw-header.open li, body.credits header#waaw-header.open li, body.about header#waaw-header.open li {
  color: #FFFA0A;
}

body.info header#waaw-header.open li a, body.credits header#waaw-header.open li a, body.about header#waaw-header.open li a {
  color: #FFFA0A;
}

.logo {
  width: 150px;
}

img {
  width: 100%;
  display: block;
}

img.image {
  position: absolute;
}

img.flower {
  width: 25%;
  max-width: 600px;
  right: 0;
  top: 100px;
}

img.curtain {
  width: 100%;
  max-width: 1200px;
  bottom: 20px;
  left: -50%;
  top: 45%;
  z-index: -1;
}

img.sky {
  position: absolute;
  top: -40px;
  z-index: -1;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
}

.gallery.wokeup {
  margin-top: 20em;
  display: block;
}

.gallery.wokeup .gallery-image {
  width: 66%;
  margin-bottom: 5em;
}

.gallery.wokeup .gallery-image.right {
  margin-left: auto;
}

.gallery .gallery-image {
  margin-bottom: 1em;
  width: 100%;
  height: 100%;
}

@media (min-width: 800px) {
  .gallery .gallery-image {
    width: 49.5%;
    height: 49.5%;
  }
}

.part4 #drawings img {
  width: 75%;
  margin-left: auto;
  margin-bottom: 1em;
}

.videos {
  width: 100%;
}

.videos .video {
  width: 50%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  width: 70%;
}

.videos .video iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.videos .video#lola iframe {
  height: calc(100% * 9 / 13.1111);
}

.videos .video#floriane {
  margin-left: auto;
  margin-bottom: 200px;
}

.videos .video#lola.wokeup {
  margin: auto;
  margin-top: 10em;
}

.videos .video#lola.daydream {
  width: 80%;
  margin: auto;
}

.videos .video#lola.daydream iframe {
  height: calc(100% * 9 / 10.5);
}

iframe.daydream {
  width: 100%;
  height: 90vh;
  border: solid 2px #146200;
  margin-bottom: 3em;
}

@media (min-width: 800px) {
  iframe.daydream {
    width: 80%;
    margin: 0 10%;
  }
}

#walkers {
  display: flex;
  width: 100%;
}

#walkers .fotorama {
  width: 50%;
}

footer {
  font-size: .7em;
  padding: 10px;
}

@media (min-width: 900px) {
  footer {
    width: 800px;
    margin: auto;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.enter-button {
  width: 200px;
  margin: auto;
  margin-top: 2em;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  border: dashed #0CE818 2px;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-duration: 2.5s;
}

.enter-button a {
  text-decoration: none;
  color: inherit;
}

.grant-logo {
  width: 150px;
}

#newsletter {
  margin-top: 3em;
  margin-bottom: 2em;
}

#newsletter fieldset:first-child span {
  font-family: "Roboto", serif !important;
  font-size: 120% !important;
  font-weight: normal !important;
}

#newsletter > div > div > div {
  border-style: dashed !important;
  border-radius: 0px !important;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-duration: 2.5s;
}

#secondary-nav {
  display: block;
  font-style: 1em;
  font-family: "Raleway", sans-serif;
}

#secondary-nav li {
  line-height: 1.5em;
  font-size: 1em;
  list-style: url("../img/puce1.png");
  list-style-position: inside;
}

#secondary-nav li a {
  color: #0CE818;
  padding-left: .5em;
}

.abstract {
  font-size: 1.2em;
  margin-bottom: 2em;
  font-weight: 800;
}

body.opening main {
  background-color: #0C34E8;
  min-height: calc(100vh - 2em);
  padding: 10px;
  border: dashed #FFFA0A 2px;
  margin: 1em auto;
  border-radius: 20px;
  position: relative;
}

body.opening main .chat {
  margin-top: 2em;
  height: calc(100vh - 13.5em);
  overflow-y: scroll;
}

#message-form {
  position: absolute;
  bottom: calc(1em + 3px);
  max-width: calc(800px - 2em - 25px);
  margin: auto 1em;
  width: calc(100% - 2em - 25px);
}

#message-form form {
  border-radius: 5px;
}

body.opening h1 {
  color: #FFFA0A;
  text-align: center;
  margin: .5em auto;
}

body.opening h2 {
  color: #0C34E8;
  font-size: 1em;
  margin: .7em 0;
}

.welcome-message {
  position: fixed;
  width: 100vw;
  background-color: rgba(100, 100, 100, 0.5);
  padding: 10px;
  height: 100vh;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFA0A;
  display: none;
}

.welcome-message.active {
  display: flex;
  z-index: 99;
  left: 0;
}

.welcome-message div {
  background-color: purple;
  padding: 20px;
  max-width: 500px;
  pointer-events: none;
  border-radius: 20px;
  border: 2px dashed #FFFA0A;
}

.welcome-message div .tiny-text {
  font-size: .75em;
}

.welcome-message div .user-name {
  font-weight: bold;
}

.welcome-message div button {
  font-size: 1em;
  color: #fffa0a;
  text-align: center;
  margin: 2em auto 1.5em;
  border: 2px dashed;
  padding: 10px;
  display: block;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-duration: 2.5s;
}

.welcome-message a {
  color: #FFFA0A;
}

.welcome-message a:hover {
  text-decoration: none;
}

.text-message {
  background-color: #FFFA0A;
  color: #0C34E8;
  max-width: 80%;
  width: fit-content;
  border-radius: 10px;
  padding: 15px;
  margin: 1em;
}

.text-message.self {
  margin-left: auto;
}

.chat {
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.chat::-webkit-scrollbar {
  width: 15px;
}

.chat::-webkit-scrollbar-track {
  background: #FFFA0A;
  border-radius: 7px;
}

.chat::-webkit-scrollbar-thumb {
  background: #B000FF;
  border-radius: 7px;
  border: 2px solid #B000FF;
}

.chat::-webkit-scrollbar-thumb:hover {
  background: #0C34E8;
}

#alert {
  position: absolute;
  text-align: center;
  color: transparent;
  font-weight: bold;
  padding-left: 16px;
  bottom: 64px;
  transition: 1s ease color;
  cursor: none;
  pointer-events: none;
}

#alert.active {
  display: block;
  color: #0CE818;
  transition: 1s ease color;
  cursor: pointer;
  pointer-events: visible;
}

#loaderdiv {
  background-color: rgba(0, 0, 255, 0.171);
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  top: 0;
}

#loaderdiv p {
  text-align: center;
  color: #FFFA0A;
  font-size: 2em;
  font-weight: bold;
  margin-top: 4em;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #0C34E8;
  border-radius: 50%;
  border-top: 16px solid #FFFA0A;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#noscript p {
  width: 100vw;
  height: 100vh;
  background: blue;
  color: yellow;
  text-align: center;
  padding-top: 7em;
  top: 0;
  font-size: 2em;
  padding: 7em 15%;
  position: fixed;
  top: -32px;
  z-index: 99;
}
/*# sourceMappingURL=main.css.map */