img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: unset;

    &#left, &#right {
        
    top: 0;
    left: 0;
    }

   .logo {
       position: relative;
   }


}

video {
    position: absolute;
}