#newsletter {
    margin-top: 3em;
    margin-bottom: 2em;

    fieldset:first-child span {
        font-family: $font-body !important;
        font-size: 120% !important;
        font-weight: normal !important;

        
    }

    > div > div > div {
        border-style: dashed !important;
        border-radius: 0px !important;
        animation-name: blink;
        animation-iteration-count: infinite;
        animation-duration: 2.5s;
    }


}

