p {
    line-height: 3.3rem;
    margin: 2.2rem 0;
    text-align: justify;
    font-family: 'Constantia', serif;
    color: $white;
    font-size: 2.2rem;

}

.artwork-intro p {
    color: $beige;
    &:first-child {
        font-style: oblique;
        color: $white;
    }
}