#loading-bar {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.7);
}

#draggable {
    width: 100px;
    height: 100px;
    background-color: white;
    position: absolute;
}