.welcome-message {
    position: fixed;
    width: 100vw;
    background-color:rgba(100,100,100,0.5);
    padding: 10px;
    height: 100vh;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $yellow;
    display: none;

    &.active {
        display: flex;
        z-index: 99;
        left: 0;
    }

    div {
        background-color:purple;
        padding: 20px;
        max-width: 500px;
        pointer-events: none;
        border-radius: 20px;
        border: 2px dashed $yellow;

        .tiny-text {
            font-size: .75em;
        }

        .user-name {
            font-weight: bold;
        }

        button {
            font-size: 1em;
            color: #fffa0a;
            text-align: center;
            margin: 2em auto 1.5em;
            border: 2px dashed;
            padding: 10px;
            display: block;
            animation-name: blink;
            animation-iteration-count: infinite;
            animation-duration: 2.5s;
        }
    }

    a{
        color: $yellow;

        &:hover {
            text-decoration: none;
        }
    }

}