button#buttonMenu {
    cursor: pointer;
    // font-style
    font-family: $font-title;
    color: $muted-color;
    font-size: 2.2rem;
    font-weight: bolder;

    // block styles
    padding: .4rem 0 .4rem;
    margin-bottom: 0;

    // positions
    position: relative;
    top: -1.1rem;

    // animation
    transition: $transition-duration $transition-effect color;

    //toggled button
    &.toggled {
        left: 0;
        color: $color;
        transition: $transition-duration $transition-effect color;
    }



    // icon Info
    #info-icon {
        width: 2.4rem;
        position: relative;
        top: .3rem;
        left: 4.4rem;

        path {
            fill: $muted-color;
            transition: $transition-duration $transition-effect color;
        }
        
    }
    // toggled -> info-icon
    &.toggled {
        #info-icon {
            left:0;
            transition: $transition-effect $transition-duration left;

            path {
                fill: $color;
                transition: $transition-duration $transition-effect fill;
            }
        }
    }




    // letters logo
    .logoletters {
        &.firstW {
            left: 4.4rem;
            color: transparent;
        }
    
        &.rotatedW {
            top: 0;
            left: 2.9rem;
        }
    
        &.lastW {
            left: 0;
        }
    }

    
    // toggled -> letters of the logo
    &.toggled {
        .firstW {
            left: 0;
            color: $color;
            transition: $transition-effect $transition-duration left,
                        $transition-effect $transition-duration color;
        }

        .rotatedW {
            top: .1rem;
            left: .1rem;
            transition: $transition-effect $transition-duration left;
        }

        .lastW {
            left: -.2rem;
            transition: $transition-effect $transition-duration left;
        }
    }


}




