header{
    position: fixed;
    top: 0;
    right: 0;
    padding: 2.5rem;
    font-family: $font-title;
    text-align: right;  
    
    &.open {
        background-color: black;
        
        height: 100vh;

        @media (min-width: 900px) {
           background-color: rgba(0, 0, 0, 0.719); 
        }
    }
}