nav {
    display: none;

    &.open {
        display: block;
        overflow-y: auto;
        height: calc(100vh - 6rem);
        padding-top: 1rem;
    }


    li {
        
        font-size: 2.2rem;
        
        a {
            text-decoration: none;
            padding: .8rem 0;
            display: block;
        }

        .menu-title {
            background-color: white;
            color: black;
            display: inline-block;
            margin-top: 2rem;
            margin-bottom: 1rem;
        }

    }

    

    .logoletters {
        &.rotatedW {
            top: .1rem;
        }
    
        &.lastW {
            left: -.3rem;
        }
    }
}