//** MAIN NAV COLORS: INFO PAGE **//

.info {
    header#waaw-header.open {
        background-color: $blue;
        border: .2rem dashed $yellow;

        button#buttonMenu {
            color: $green;

            #info-icon {
                path {
                    fill: $green;
                }  
            }

            &.toggled {
                color: $yellow;

                .firstW {
                    color: $yellow;
                } 

                #info-icon {
                    path {
                        fill: $yellow;
                    }
                }
            }
        }


        li {
            color: $yellow;
            a {
                color: $yellow;
            }
    
            .menu-title {
                background-color: $purple;
            }
    
            li {
                list-style: url('../img/puce-star-yellow.svg');
            }
        }
    }
}