.buttons {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.enter-button {
    width: 20rem;
    margin: auto;
    margin-top: 3.5rem;
    
    text-align: center;
    text-transform: uppercase;
    border: solid $beige .1rem;
    font-size: 1.8rem;
    
    &:hover {
        border: solid $white .1rem;
    }
    

    a {
        text-decoration: none;
        color: $beige;
        font-weight: bold;
        padding: 2rem;
        display: block;
        width: 100%;
        &:hover {
            color: $white;
        }
    }

    
}



