body {
    font-family: $font-body;
    background-color: $darkGrey;
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 200%;
}