button#buttonMenu {
    color: $beige;

    &:focus-visible {
        outline: $outline;
    }

    //toggled button
    &.toggled {
        color: $darkGrey;
    }

    // icon Info
    #info-icon {
        path {
            fill: $beige;
        }
        
    }
    // toggled -> info-icon
    &.toggled {
        #info-icon {
            path {
                fill: $darkGrey;
            }
        }
    }

    // toggled -> letters of the logo
    &.toggled {
        .firstW {
            color: $darkGrey;
        }
    }
}
