p {
    line-height: 25px;
    margin: 1em 0;
}

div {
    line-height: 25px;
    font-size: 19px;

    &.empty {
        height: 25px;
    }

    &.left {
        text-align: left;
    }

    &.right {
        text-align: right;
    }
}
