body {
    &.info, &.about {
        main {
            padding: 10px;
        
            @media (min-width: 900px) {
                width: 800px;
                margin: auto;
            }
        }
    }

    main {
        padding: 1.5em;
    }
}
