body {
    &.info {
        main {
            padding: 1.5rem;
            margin-top: 5rem;
        
            @media (min-width: 900px) {
                width: 80rem;
                margin: auto;
                margin-top: 5rem;
            }
        }
    }

    main {
        padding: 2.7rem;
    }
}
