nav {
    display: none;
    font-family: 'West England', monospace;
    

    &.open {
        display: block;
        
    }


    li {
        line-height: 45px;
        text-align: left;
        font-size: 25px;
        color: black;
        font-weight: bold;
        list-style: none;
        margin-left: 10px;
        color: $yellow;
        text-transform: uppercase;

        a {
            color: $yellow;
            
        }

        > ul > li {
            margin-left: 1em;
        }
    }

    

    .logoletters {
        &.firstW {
            left: 5px;
        }

        &.rotatedW {
            top: 1px;
            left: 2px;
        }
    
        &.lastW {
            left: -4px;
        }
    }
}

body {

    &.info header#waaw-header.open, &.credits header#waaw-header.open, &.about header#waaw-header.open {

        li {
             color: $yellow;
            a {
                color: $red;
            }
        }
    }

   


}

