:root {
    --font: 'Open Sans Condensed', sans-serif;
    --title-font: 'Raleway', sans-serif;
}

body {
    background-color: black;
    color: white;
    font-family: var(--font);
    margin: 0;
}

main {
    padding: 1.5em;
}

div {
    line-height: 25px;
    font-size: 19px;
}

.empty {
    height: 25px;
}

main .left {
text-align: left;
}

main .right {
text-align: right;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    padding: 1.5em;
    font-family: var(--title-font);
    text-align: right;    
}

nav {
    display: none;
}

.open {
    display: block;
    
}



button {
    font-family: var(--title-font);
    background: transparent;
    color: rgb(180,180,180);
    border: none;
    font-size: 22px;
    font-weight: bolder;
    padding: 4px 0 4px;
    margin-bottom: 0em;
    position: relative;
    /*left: 51px;*/
    top: -11px;
    transition: color ease 1s;
}

button .closer {
    letter-spacing: -1px;
    position: relative;
    left: 44px;
    color: transparent;
}

button .rotate {
    transform: rotate(180deg);
    position: relative;
    display: inline-block;
    letter-spacing: -2px;
    top: -2px;
    left: 24px;
    
}



button .left {
    position: relative;
    left: 0;
}

#info-icon {
    width: 24px;
    position: relative;
    top: 3px;
    left: 44px;
}

#info-icon path {
    fill: rgb(180,180,180);
    transition: ease fill 1s;
}



button.toggled {
    left: 0;
    color: white;
    transition: color ease 1s;
}

button.toggled #info-icon {
    left:0;
    transition: ease left 1s;
}

button.toggled #info-icon path {
    fill: white;
    transition: ease fill 1s;
}

button.toggled .rotate {
    transform: rotate(180deg);
    position: relative;
    display: inline-block;
    letter-spacing: -2px;
    left: 1px;
    top: 1px;
    transition: ease left 1s;
}

button.toggled .left {
    position: relative;
    left: -2px;
    transition: ease left 1s;
}

button.toggled .closer {
    letter-spacing: -1px;
    left: 0;
    color: white;
    transition: ease left 1s,
                 ease color 1s;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    line-height: 1.3em;
    font-size: 1.3em;
    list-style-type: none;
}


 

   li .rotate {
    transform: rotate(180deg);
    position: relative;
    display: inline-block;
    letter-spacing: -2px;
    top: 1px;
  }

  li .closer {
    letter-spacing: -1px;
  }
 li  .left {
    position: relative;
    left: -3px;
  }

  a {
      color: white;
      text-decoration: none;
  }

  a:hover {
      color: white;
      text-decoration: underline;
  }

  @media (max-width: 600px) {
    button .rotate {
        left: 23px;
        top: -3px;
    }

    button.toggled .rotate {
        left: 0px;
        top: 0px;
        
    }

    li .rotate {
        top:0;
    }
}

.flipped {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.flipped div {
    -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
}

