@font-face {
  font-family: 'Constantia';
  src: local("Constantia");
  src: url("../fonts/Constantia.eot"), url("../fonts/Constantia.eot?#iefix") format("embedded-opentype"), url("../fonts/Constantia.woff2") format("woff2"), url("../fonts/Constantia.woff") format("woff"), url("../fonts/Constantia.svg#Constantia") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-203A;
}

body {
  font-family: "Times New Roman", serif;
  background-color: black;
}

p {
  line-height: 3.3rem;
  margin: 2.2rem 0;
  font-family: 'Constantia', serif;
  color: #A0C1D4;
  font-size: 2.2rem;
}

h2 {
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 9rem;
  font-family: 'Constantia', serif;
  color: #BF793B;
  margin-bottom: 4.5rem;
  font-size: 3rem;
}

a {
  color: #A0C1D4;
  text-decoration: underline;
}

a:hover {
  color: #BF793B;
  text-decoration: none;
}

a:focus-visible, button:focus-visible {
  outline: 0.2rem solid #A0C1D4;
  outline-offset: .4rem;
}

.logo path {
  fill: #A0C1D4;
}

img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: unset;
}

img#left, img#right {
  top: 0;
  left: 0;
}

video {
  position: absolute;
}

body header#waaw-header.open {
  background-color: black;
}

button#buttonMenu {
  cursor: pointer;
  color: #A0C1D4;
}

button#buttonMenu.toggled {
  color: #BF793B;
}

button#buttonMenu #info-icon path {
  fill: #A0C1D4;
}

button#buttonMenu.toggled #info-icon path {
  fill: #BF793B;
}

button#buttonMenu.toggled .firstW {
  color: #BF793B;
}

body.info button#buttonMenu.toggled, body.credits button#buttonMenu.toggled, body.about button#buttonMenu.toggled {
  color: #BF793B;
}

body.info button#buttonMenu.toggled .firstW, body.credits button#buttonMenu.toggled .firstW, body.about button#buttonMenu.toggled .firstW {
  color: #BF793B;
}

body.info button#buttonMenu.toggled #info-icon path, body.credits button#buttonMenu.toggled #info-icon path, body.about button#buttonMenu.toggled #info-icon path {
  fill: #BF793B;
}

#waaw-header nav {
  font-family: 'Constantia', serif;
}

#waaw-header nav.open {
  max-height: calc(100vh - 3.5rem - 3.5rem);
  padding-bottom: 3.5rem;
}

#waaw-header li {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #BF793B;
}

#waaw-header li a {
  color: #A0C1D4;
  text-decoration: none;
}

#waaw-header li a:hover {
  color: #BF793B;
}

#waaw-header li > ul > li {
  margin-left: 2.5rem;
}

#waaw-header nav .logoletters.rotatedW {
  top: .1rem;
}

#waaw-header nav .logoletters.rotatedW {
  top: .1rem;
}

.skip-to-content-link a:focus {
  background-color: black;
  border: solid #BF793B 0.1rem;
  color: #BF793B;
  font-size: 2.2rem;
  font-family: "Times New Roman", serif;
  outline: 0.2rem #A0C1D4 solid;
}

.skip-to-content-link a:hover {
  color: #A0C1D4;
  border-color: #A0C1D4;
}

.artwork-intro p {
  color: #BF793B;
}

.artwork-intro p:first-child {
  font-style: oblique;
  color: #A0C1D4;
}

.enter-button {
  border: solid #BF793B 0.1rem;
}

.enter-button:hover {
  border: solid #A0C1D4 0.1rem;
}

.enter-button a {
  color: #BF793B;
}

.enter-button a:hover {
  color: #A0C1D4;
}

body.index main {
  width: 100vw;
  height: 100vh;
  overflow: hidden !important;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0;
  padding: 0;
}

#loading-bar {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2rem;
  background-color: rgba(255, 255, 255, 0.7);
}

#start-button {
  width: 100vw;
  height: 100vh;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  background-image: url("../img/play.png");
  background-repeat: no-repeat;
  background-position: center center;
}
/*# sourceMappingURL=main.css.map */