// Color
$background: black;
$color: white;
$muted-color: rgb(180,180,180);

// Fonts
$font-body: 'Open Sans Condensed', sans-serif;
$font-title: 'Raleway', sans-serif;

// Sizes
$line-height: 25px;

// Animation
$transition-duration: 1s;
$transition-effect: ease;
